<div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="/assets/images/po-logo-fill-white.png">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">{% t drawer.about %}</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link"><a href="./toolkit.html">{% t drawer.toolkit %}</a></span>
          <a class="mdl-navigation__link" href="">{% t drawer.tool.issueCard %}</a>
          <a class="mdl-navigation__link" href="">{% t drawer.tool.issueMappingInstruction %}</a>
          <a class="mdl-navigation__link" href="">{% t drawer.tool.persona %}</a>
          <a class="mdl-navigation__link" href="">{% t drawer.tool.ideaDevelopmentSheet %}</a>
          <a class="mdl-navigation__link" href="">{% t drawer.tool.serviceBlueprint %}</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">{% t drawer.case %}</span>
          <a class="mdl-navigation__link" target="_blank" href="https://jk.pdis.nat.gov.tw/blog/">{% t drawer.blog %}</a>
          <div class="android-drawer-separator"></div>
        </nav>
      </div>


